In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re #regex

In [2]:
cities = pd.read_html(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\wikipedia_data.html")[1]
#read the wikipedia_data.html file in that format
cities

,Metropolitan area,Country,Pop.rank,Population (2016 est.)[8],B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,20153634,9,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3],11,Red BullsNew York City FC,—
1,Los Angeles,United States,2,13310447,8,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC[note 5],—
2,San Francisco Bay Area,United States,6,6657982,6,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7],7,Earthquakes,—
3,Chicago,United States,3,9512999,5,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks,6,Fire,—
4,Dallas–Fort Worth,United States,4,7233323,4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,—
5,"Washington, D.C.",United States,7,6131977,4,Redskins,Nationals[note 10],Wizards[note 11],Capitals,5,D.C. United,—
6,Philadelphia,United States,8,6070500,4,Eagles,Phillies[note 12],76ers,Flyers[note 13],5,Union,—
7,Boston,United States,12,4794447,4,Patriots[note 14],Red Sox[note 15],Celtics,Bruins,5,Revolution,—
8,Minneapolis–Saint Paul,United States,17,3551036,4,Vikings,Twins,Timberwolves,Wild[note 16],5,United FC,—
9,Denver,United States,20,2853077,4,Broncos,Rockies,Nuggets[note 17],Avalanche[note 18],5,Rapids,—
10,Miami–Fort Lauderdale,United States,9,6066387,4,Dolphins,Marlins,Heat,Panthers,4,[note 19],—
11,Phoenix,United States,13,4661537,4,Cardinals,Diamondbacks,Suns,Coyotes,4,—,—
12,Detroit,United States,14,4297617,4,Lions,Tigers[note 20],Pistons[note 21],Red Wings,4,—,—
13,Toronto,Canada,10,5928040,3,— [note 22],Blue Jays,Raptors[note 23],Maple Leafs,5,Toronto FC,Argonauts
14,Houston,United States,5,6772470,3,Texans[note 24],Astros,Rockets,—,4,Dynamo,—
15,Atlanta,United States,11,5789700,3,Falcons,Braves,Hawks,[note 25],4,United FC,—
16,Tampa Bay Area,United States,19,3032171,3,Buccaneers,Rays,—,Lightning,3,[note 26],—
17,Pittsburgh,United States,28,2342299,3,Steelers,Pirates,[note 27],Penguins[note 28],3,—,—
18,Cleveland,United States,33,2055612,3,Browns[note 29],Indians[note 30],Cavaliers[note 31],[note 32],3,—,—
19,Seattle,United States,16,3798902,2,Seahawks,Mariners,[note 33],[note 34],3,Sounders FC,—
20,Cincinnati,United States,30,2165139,2,Bengals,Reds[note 35],[note 36],—,3,FC Cincinnati,—
21,Kansas City,United States,32,2104509,2,Chiefs,Royals[note 37],[note 38],[note 39],3,Sporting Kansas City,—
22,St. Louis,United States,21,2807002,2,[note 40],Cardinals[note 41],[note 42],Blues[note 43],2,[note 44],—
23,Baltimore,United States,22,2798886,2,Ravens[note 45],Orioles[note 46],[note 47],—,2,—,[note 48]
24,Charlotte,United States,23,2474314,2,Panthers,—,Hornets[note 49],—,2,—,—
25,Indianapolis,United States,35,2004230,2,Colts,[note 50],Pacers[note 51],—,2,—,—
26,Nashville,United States,36,1865298,2,Titans,—,—,Predators,2,[note 52],—
27,Milwaukee,United States,37,1572482,2,[note 53],Brewers[note 54],Bucks,—,2,—,—
28,New Orleans,United States,45,1268883,2,Saints,—,Pelicans[note 55],—,2,—,—
29,Buffalo,United States,47,1132804,2,Bills[note 56],[note 57],[note 58],Sabres,2,—,—
30,Montreal,Canada,15,4098927,1,—,[note 59],—,Canadiens,3,Impact,Alouettes
31,Vancouver,Canada,24,2463431,1,—,—,[note 60],Canucks,3,Whitecaps FC,Lions
32,Orlando,United States,25,2441257,1,—,—,Magic,—,2,Orlando City SC,—
33,Portland,United States,27,2424955,1,—,—,Trail Blazers,—,2,Timbers,—
34,Columbus,United States,34,2041520,1,—,—,—,Blue Jackets,2,Crew SC,—
35,Calgary,Canada,39,1392609,1,—,—,—,Flames,2,—,Stampeders
36,Ottawa,Canada,42,1323783,1,—,—,—,Senators,2,—,Redblacks
37,Edmonton,Canada,43,1321426,1,—,—,—,Oilers,2,—,Eskimos
38,Salt Lake City,United States,46,1186187,1,—,—,Jazz,—,2,Real Salt Lake,—
39,Winnipeg,Canada,67,778489,1,—,—,—,Jets[note 61],2,—,Blue Bombers
40,San Diego,United States,18,3317749,1,[note 62],Padres,[note 63],—,1,—,—
41,San Antonio,United States,26,2429609,1,[note 64],—,Spurs,—,1,—,[note 65]
42,Sacramento,United States,29,2296418,1,—,—,Kings,—,1,—,[note 66]
43,Las Vegas,United States,31,2155664,1,[note 6],—,—,Golden Knights,1,—,[note 67]
44,Jacksonville,United States,38,1478212,1,Jaguars,—,—,—,1,—,—
45,Oklahoma City,United States,40,1373211,1,—,—,Thunder[note 68],—,1,—,—
46,Memphis,United States,41,1342842,1,[note 69],—,Grizzlies,—,1,—,[note 70]
47,Raleigh,United States,44,1302946,1,—,—,—,Hurricanes,1,—,—
48,Green Bay,United States,—,318236,1,Packers,—,—,—,1,—,—
49,Hamilton,Canada,—,747545,0,—,—,—,[note 71],1,—,Tiger-Cats
50,Regina,Canada,—,236481,0,—,—,—,—,1,—,Roughriders
51,Totals,—,—,–,123,32,30,30,31,156,24[note 72],9

In [3]:

cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
cities = cities.loc[:,['Metropolitan area', 'Population', 'NFL','MLB','NBA','NHL']]
#select the needed cols with .loc 
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")
#replace zero or more characters within the bracket with an empty space. Clean up data
cities

,Metropolitan area,Population,NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets,YankeesMets,KnicksNets,RangersIslandersDevils
1,Los Angeles,13310447,RamsChargers,DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders,GiantsAthletics,Warriors,Sharks
3,Chicago,9512999,Bears,CubsWhite Sox,Bulls,Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals,Wizards,Capitals
6,Philadelphia,6070500,Eagles,Phillies,76ers,Flyers
7,Boston,4794447,Patriots,Red Sox,Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild
9,Denver,2853077,Broncos,Rockies,Nuggets,Avalanche
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers,Pistons,Red Wings
13,Toronto,5928040,—,Blue Jays,Raptors,Maple Leafs
14,Houston,6772470,Texans,Astros,Rockets,—
15,Atlanta,5789700,Falcons,Braves,Hawks,
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,,Penguins
18,Cleveland,2055612,Browns,Indians,Cavaliers,
19,Seattle,3798902,Seahawks,Mariners,,
20,Cincinnati,2165139,Bengals,Reds,,—
21,Kansas City,2104509,Chiefs,Royals,,
22,St. Louis,2807002,,Cardinals,,Blues
23,Baltimore,2798886,Ravens,Orioles,,—
24,Charlotte,2474314,Panthers,—,Hornets,—
25,Indianapolis,2004230,Colts,,Pacers,—
26,Nashville,1865298,Titans,—,—,Predators
27,Milwaukee,1572482,,Brewers,Bucks,—
28,New Orleans,1268883,Saints,—,Pelicans,—
29,Buffalo,1132804,Bills,,,Sabres
30,Montreal,4098927,—,,—,Canadiens
31,Vancouver,2463431,—,—,,Canucks
32,Orlando,2441257,—,—,Magic,—
33,Portland,2424955,—,—,Trail Blazers,—
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
38,Salt Lake City,1186187,—,—,Jazz,—
39,Winnipeg,778489,—,—,—,Jets
40,San Diego,3317749,,Padres,,—
41,San Antonio,2429609,,—,Spurs,—
42,Sacramento,2296418,—,—,Kings,—
43,Las Vegas,2155664,,—,—,Golden Knights
44,Jacksonville,1478212,Jaguars,—,—,—
45,Oklahoma City,1373211,—,—,Thunder,—
46,Memphis,1342842,,—,Grizzlies,—
47,Raleigh,1302946,—,—,—,Hurricanes
48,Green Bay,318236,Packers,—,—,—
49,Hamilton,747545,—,—,—,
50,Regina,236481,—,—,—,—
51,Totals,–,32,30,30,31

In [4]:
Big4='NHL'
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    #use str.extract in that format to separate the conjoined teams where eact starts with a capital letter[A-Z]. \  means backlash and whitespace (eg; Golden Knights)
    #| (or) accepts the syntax before or after it
team

                 0          1       2
0          Rangers  Islanders  Devils
1            Kings      Ducks
2           Sharks
3       Blackhawks
4            Stars
5         Capitals
6           Flyers
7           Bruins
8             Wild
9        Avalanche
10        Panthers
11         Coyotes
12       Red Wings
13     Maple Leafs
14
15
16       Lightning
17        Penguins
18
19
20
21
22           Blues
23
24
25
26       Predators
27
28
29          Sabres
30       Canadiens
31         Canucks
32
33
34    Blue Jackets
35          Flames
36        Senators
37          Oilers
38
39            Jets
40
41
42
43  Golden Knights
44
45
46
47      Hurricanes
48
49
50
51              31

In [5]:
team['Metropolitan area']=cities['Metropolitan area'] #pass the metropolitan column
team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
# Use pd.melt to Unpivot from wide to long format using [metrop...] as identifyer variable.Drop the variable column (0,1,2)
#replace empty spaces and dashes with np.nan then drop the rows with dropna,reset index and rename the value col(rangers,etc) with 'team'
team

    index       Metropolitan area            team
0       0           New York City         Rangers
1       1             Los Angeles           Kings
2       2  San Francisco Bay Area          Sharks
3       3                 Chicago      Blackhawks
4       4       Dallas–Fort Worth           Stars
5       5        Washington, D.C.        Capitals
6       6            Philadelphia          Flyers
7       7                  Boston          Bruins
8       8  Minneapolis–Saint Paul            Wild
9       9                  Denver       Avalanche
10     10   Miami–Fort Lauderdale        Panthers
11     11                 Phoenix         Coyotes
12     12                 Detroit       Red Wings
13     13                 Toronto     Maple Leafs
14     16          Tampa Bay Area       Lightning
15     17              Pittsburgh        Penguins
16     22               St. Louis           Blues
17     26               Nashville       Predators
18     29                 Buffalo          Sabres
19     30                Montreal       Canadiens
20     31               Vancouver         Canucks
21     34                Columbus    Blue Jackets
22     35                 Calgary          Flames
23     36                  Ottawa        Senators
24     37                Edmonton          Oilers
25     39                Winnipeg            Jets
26     43               Las Vegas  Golden Knights
27     47                 Raleigh      Hurricanes
28     51                  Totals              31
29     52           New York City       Islanders
30     53             Los Angeles           Ducks
31    104           New York City          Devils

In [6]:
team=pd.merge(team,cities,how='left',on='Metropolitan area').iloc[:,1:4]
#merge both dataframes while using only the variables in (team) and select the the needed cols in order to extract population
team

         Metropolitan area            team Population
0            New York City         Rangers   20153634
1              Los Angeles           Kings   13310447
2   San Francisco Bay Area          Sharks    6657982
3                  Chicago      Blackhawks    9512999
4        Dallas–Fort Worth           Stars    7233323
5         Washington, D.C.        Capitals    6131977
6             Philadelphia          Flyers    6070500
7                   Boston          Bruins    4794447
8   Minneapolis–Saint Paul            Wild    3551036
9                   Denver       Avalanche    2853077
10   Miami–Fort Lauderdale        Panthers    6066387
11                 Phoenix         Coyotes    4661537
12                 Detroit       Red Wings    4297617
13                 Toronto     Maple Leafs    5928040
14          Tampa Bay Area       Lightning    3032171
15              Pittsburgh        Penguins    2342299
16               St. Louis           Blues    2807002
17               Nashville       Predators    1865298
18                 Buffalo          Sabres    1132804
19                Montreal       Canadiens    4098927
20               Vancouver         Canucks    2463431
21                Columbus    Blue Jackets    2041520
22                 Calgary          Flames    1392609
23                  Ottawa        Senators    1323783
24                Edmonton          Oilers    1321426
25                Winnipeg            Jets     778489
26               Las Vegas  Golden Knights    2155664
27                 Raleigh      Hurricanes    1302946
28                  Totals              31          –
29           New York City       Islanders   20153634
30             Los Angeles           Ducks   13310447
31           New York City          Devils   20153634

In [7]:
team=team.drop(index=28)
#drop col 28 bcos it is not needed and will affect our calculation
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int}) #declare the dtypes
team['team']=team['team'].str.replace('[\w.]*\ ','') #replace first words in the list withis format
team

         Metropolitan area        team  Population
0            New York City     Rangers    20153634
1              Los Angeles       Kings    13310447
2   San Francisco Bay Area      Sharks     6657982
3                  Chicago  Blackhawks     9512999
4        Dallas–Fort Worth       Stars     7233323
5         Washington, D.C.    Capitals     6131977
6             Philadelphia      Flyers     6070500
7                   Boston      Bruins     4794447
8   Minneapolis–Saint Paul        Wild     3551036
9                   Denver   Avalanche     2853077
10   Miami–Fort Lauderdale    Panthers     6066387
11                 Phoenix     Coyotes     4661537
12                 Detroit       Wings     4297617
13                 Toronto       Leafs     5928040
14          Tampa Bay Area   Lightning     3032171
15              Pittsburgh    Penguins     2342299
16               St. Louis       Blues     2807002
17               Nashville   Predators     1865298
18                 Buffalo      Sabres     1132804
19                Montreal   Canadiens     4098927
20               Vancouver     Canucks     2463431
21                Columbus     Jackets     2041520
22                 Calgary      Flames     1392609
23                  Ottawa    Senators     1323783
24                Edmonton      Oilers     1321426
25                Winnipeg        Jets      778489
26               Las Vegas     Knights     2155664
27                 Raleigh  Hurricanes     1302946
29           New York City   Islanders    20153634
30             Los Angeles       Ducks    13310447
31           New York City      Devils    20153634

In [8]:
_df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\nhl.csv")
#read the nhl.csv file
_df

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,Los Angeles Kings*,82,46,28,8,100,.610,206,174,0.40,0.01,.549,38,2014,NHL
167,Phoenix Coyotes,82,37,30,15,89,.543,216,231,-0.16,0.03,.457,31,2014,NHL
168,Vancouver Canucks,82,36,35,11,83,.506,196,223,-0.30,0.03,.451,31,2014,NHL
169,Calgary Flames,82,35,40,7,77,.470,209,241,-0.35,0.04,.402,28,2014,NHL
170,Edmonton Oilers,82,29,44,9,67,.409,203,270,-0.75,0.07,.348,25,2014,NHL

In [9]:
_df = _df[_df['year'] == 2018]
#as specified, we are only usig rows from the year 2018
_df['team'] = _df['team'].str.replace(r'\*',"")#replace * with whitespace
_df['team'] = _df['team'].str.replace(r'[\xa0]',"")#remove non breaking spaces so it does not process internally as \xa0 and affect calc


_df = _df[['team','W','L']] #pick out the useful cols
_df

<ipython-input-9-2060e5f7276b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['team'] = _df['team'].str.replace(r'\*',"")#replace * with whitespace
<ipython-input-9-2060e5f7276b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['team'] = _df['team'].str.replace(r'[\xa0]',"")#remove non breaking spaces so it does not process internally as \xa0 and affect calc

                     team                      W                      L
0       Atlantic Division      Atlantic Division      Atlantic Division
1     Tampa Bay Lightning                     54                     23
2           Boston Bruins                     50                     20
3     Toronto Maple Leafs                     49                     26
4        Florida Panthers                     44                     30
5       Detroit Red Wings                     30                     39
6      Montreal Canadiens                     29                     40
7         Ottawa Senators                     28                     43
8          Buffalo Sabres                     25                     45
9   Metropolitan Division  Metropolitan Division  Metropolitan Division
10    Washington Capitals                     49                     26
11    Pittsburgh Penguins                     47                     29
12    Philadelphia Flyers                     42                     26
13  Columbus Blue Jackets                     45                     30
14      New Jersey Devils                     44                     29
15    Carolina Hurricanes                     36                     35
16     New York Islanders                     35                     37
17       New York Rangers                     34                     39
18       Central Division       Central Division       Central Division
19    Nashville Predators                     53                     18
20          Winnipeg Jets                     52                     20
21         Minnesota Wild                     45                     26
22     Colorado Avalanche                     43                     30
23        St. Louis Blues                     44                     32
24           Dallas Stars                     42                     32
25     Chicago Blackhawks                     33                     39
26       Pacific Division       Pacific Division       Pacific Division
27   Vegas Golden Knights                     51                     24
28          Anaheim Ducks                     44                     25
29        San Jose Sharks                     45                     27
30      Los Angeles Kings                     45                     29
31         Calgary Flames                     37                     35
32        Edmonton Oilers                     36                     40
33      Vancouver Canucks                     31                     40
34        Arizona Coyotes                     29                     41

In [10]:
dropList=[]
for i in range(_df.shape[0]):
    row=_df.iloc[i]
    if row['team']==row['W'] and row['L']==row['W']:
            print(row['team'],'will be dropped!')
            dropList.append(i)
_df=_df.drop(dropList)
#loop through the rows to drop rows that should will affect calculation
_df

Atlantic Division will be dropped!
Metropolitan Division will be dropped!
Central Division will be dropped!
Pacific Division will be dropped!

                     team   W   L
1     Tampa Bay Lightning  54  23
2           Boston Bruins  50  20
3     Toronto Maple Leafs  49  26
4        Florida Panthers  44  30
5       Detroit Red Wings  30  39
6      Montreal Canadiens  29  40
7         Ottawa Senators  28  43
8          Buffalo Sabres  25  45
10    Washington Capitals  49  26
11    Pittsburgh Penguins  47  29
12    Philadelphia Flyers  42  26
13  Columbus Blue Jackets  45  30
14      New Jersey Devils  44  29
15    Carolina Hurricanes  36  35
16     New York Islanders  35  37
17       New York Rangers  34  39
19    Nashville Predators  53  18
20          Winnipeg Jets  52  20
21         Minnesota Wild  45  26
22     Colorado Avalanche  43  30
23        St. Louis Blues  44  32
24           Dallas Stars  42  32
25     Chicago Blackhawks  33  39
27   Vegas Golden Knights  51  24
28          Anaheim Ducks  44  25
29        San Jose Sharks  45  27
30      Los Angeles Kings  45  29
31         Calgary Flames  37  35
32        Edmonton Oilers  36  40
33      Vancouver Canucks  31  40
34        Arizona Coyotes  29  41

In [11]:

_df['team'] = _df['team'].str.replace('[\w.]* ','')
#_df['team'] = _df['team'].str.replace('.','')
_df

          team   W   L
1    Lightning  54  23
2       Bruins  50  20
3        Leafs  49  26
4     Panthers  44  30
5        Wings  30  39
6    Canadiens  29  40
7     Senators  28  43
8       Sabres  25  45
10    Capitals  49  26
11    Penguins  47  29
12      Flyers  42  26
13     Jackets  45  30
14      Devils  44  29
15  Hurricanes  36  35
16   Islanders  35  37
17     Rangers  34  39
19   Predators  53  18
20        Jets  52  20
21        Wild  45  26
22   Avalanche  43  30
23       Blues  44  32
24       Stars  42  32
25  Blackhawks  33  39
27     Knights  51  24
28       Ducks  44  25
29      Sharks  45  27
30       Kings  45  29
31      Flames  37  35
32      Oilers  36  40
33     Canucks  31  40
34     Coyotes  29  41

In [12]:
_df = _df.astype({'team': str,'W': int, 'L': int}) #declare dtype to stay on course
_df['W/L%'] = _df['W']/(_df['W']+_df['L']) #calculation of win loss ratio
_df

          team   W   L      W/L%
1    Lightning  54  23  0.701299
2       Bruins  50  20  0.714286
3        Leafs  49  26  0.653333
4     Panthers  44  30  0.594595
5        Wings  30  39  0.434783
6    Canadiens  29  40  0.420290
7     Senators  28  43  0.394366
8       Sabres  25  45  0.357143
10    Capitals  49  26  0.653333
11    Penguins  47  29  0.618421
12      Flyers  42  26  0.617647
13     Jackets  45  30  0.600000
14      Devils  44  29  0.602740
15  Hurricanes  36  35  0.507042
16   Islanders  35  37  0.486111
17     Rangers  34  39  0.465753
19   Predators  53  18  0.746479
20        Jets  52  20  0.722222
21        Wild  45  26  0.633803
22   Avalanche  43  30  0.589041
23       Blues  44  32  0.578947
24       Stars  42  32  0.567568
25  Blackhawks  33  39  0.458333
27     Knights  51  24  0.680000
28       Ducks  44  25  0.637681
29      Sharks  45  27  0.625000
30       Kings  45  29  0.608108
31      Flames  37  35  0.513889
32      Oilers  36  40  0.473684
33     Canucks  31  40  0.436620
34     Coyotes  29  41  0.414286

In [13]:
merge=pd.merge(team,_df,'outer', on = 'team') #do a union merge of team and df using the col team

merge

         Metropolitan area        team  Population   W   L      W/L%
0            New York City     Rangers    20153634  34  39  0.465753
1              Los Angeles       Kings    13310447  45  29  0.608108
2   San Francisco Bay Area      Sharks     6657982  45  27  0.625000
3                  Chicago  Blackhawks     9512999  33  39  0.458333
4        Dallas–Fort Worth       Stars     7233323  42  32  0.567568
5         Washington, D.C.    Capitals     6131977  49  26  0.653333
6             Philadelphia      Flyers     6070500  42  26  0.617647
7                   Boston      Bruins     4794447  50  20  0.714286
8   Minneapolis–Saint Paul        Wild     3551036  45  26  0.633803
9                   Denver   Avalanche     2853077  43  30  0.589041
10   Miami–Fort Lauderdale    Panthers     6066387  44  30  0.594595
11                 Phoenix     Coyotes     4661537  29  41  0.414286
12                 Detroit       Wings     4297617  30  39  0.434783
13                 Toronto       Leafs     5928040  49  26  0.653333
14          Tampa Bay Area   Lightning     3032171  54  23  0.701299
15              Pittsburgh    Penguins     2342299  47  29  0.618421
16               St. Louis       Blues     2807002  44  32  0.578947
17               Nashville   Predators     1865298  53  18  0.746479
18                 Buffalo      Sabres     1132804  25  45  0.357143
19                Montreal   Canadiens     4098927  29  40  0.420290
20               Vancouver     Canucks     2463431  31  40  0.436620
21                Columbus     Jackets     2041520  45  30  0.600000
22                 Calgary      Flames     1392609  37  35  0.513889
23                  Ottawa    Senators     1323783  28  43  0.394366
24                Edmonton      Oilers     1321426  36  40  0.473684
25                Winnipeg        Jets      778489  52  20  0.722222
26               Las Vegas     Knights     2155664  51  24  0.680000
27                 Raleigh  Hurricanes     1302946  36  35  0.507042
28           New York City   Islanders    20153634  35  37  0.486111
29             Los Angeles       Ducks    13310447  44  25  0.637681
30           New York City      Devils    20153634  44  29  0.602740

In [14]:
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
#do a groupby 'met area' and use the agg function to calculate the mean by metropolitan area
merge

                            W/L%  Population
Metropolitan area
Boston                  0.714286     4794447
Buffalo                 0.357143     1132804
Calgary                 0.513889     1392609
Chicago                 0.458333     9512999
Columbus                0.600000     2041520
Dallas–Fort Worth       0.567568     7233323
Denver                  0.589041     2853077
Detroit                 0.434783     4297617
Edmonton                0.473684     1321426
Las Vegas               0.680000     2155664
Los Angeles             0.622895    13310447
Miami–Fort Lauderdale   0.594595     6066387
Minneapolis–Saint Paul  0.633803     3551036
Montreal                0.420290     4098927
Nashville               0.746479     1865298
New York City           0.518201    20153634
Ottawa                  0.394366     1323783
Philadelphia            0.617647     6070500
Phoenix                 0.414286     4661537
Pittsburgh              0.618421     2342299
Raleigh                 0.507042     1302946
San Francisco Bay Area  0.625000     6657982
St. Louis               0.578947     2807002
Tampa Bay Area          0.701299     3032171
Toronto                 0.653333     5928040
Vancouver               0.436620     2463431
Washington, D.C.        0.653333     6131977
Winnipeg                0.722222      778489

In [15]:
population_by_region = merge['Population'] # pass in metropolitan area population from cities
win_loss_by_region = merge['W/L%'] ## pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   
len(population_by_region),len(win_loss_by_region)

(28, 28)

In [16]:
stats.pearsonr(population_by_region, win_loss_by_region)[0] #do the stat.pearsonr correlation by inputting to different lists

0.012486162921209881

In [17]:
Big4='NHL'
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
team['Metropolitan area']=cities['Metropolitan area'] #pass the metropolitan column
team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
team=pd.merge(team,cities,how='left',on='Metropolitan area').iloc[:,1:4]
team=team.drop(index=28)
 #drop col 28 bcos it is not needed and will affect our calculation
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int}) #declare the dtypes
team['team']=team['team'].str.replace('[\w.]*\ ','') #replace first words in the list withis format
_df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\nhl.csv")
_df = _df[_df['year'] == 2018]
    #as specified, we are only usig rows from the year 2018
_df['team'] = _df['team'].str.replace(r'\*',"")#replace * with whitespace
_df['team'] = _df['team'].str.replace(r'[\xa0]',"")#remove non breaking spaces so it does not process internally as \xa0 and affect calc
_df = _df[['team','W','L']] #pick out the useful cols
dropList=[]
for i in range(_df.shape[0]):
    row=_df.iloc[i]
    if row['team']==row['W'] and row['L']==row['W']:
            print(row['team'],'will be dropped!')
            dropList.append(i)
_df=_df.drop(dropList)
_df['team'] = _df['team'].str.replace('[\w.]* ','')
_df = _df.astype({'team': str,'W': int, 'L': int}) #declare dtype to stay on course
_df['W/L%'] = _df['W']/(_df['W']+_df['L']) #calculation of win loss ratio
merge=pd.merge(team,_df,'outer', on = 'team')
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
population_by_region = merge['Population'] # pass in metropolitan area population from cities
win_loss_by_region = merge['W/L%'] ## pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   
len(population_by_region),len(win_loss_by_region)
stats.pearsonr(population_by_region, win_loss_by_region)[0]

Atlantic Division will be dropped!
Metropolitan Division will be dropped!
Central Division will be dropped!
Pacific Division will be dropped!

0.012486162921209881

In [18]:

Big4='NBA'
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
team['Metropolitan area']=cities['Metropolitan area']
team= pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace('',np.nan).replace('-',np.nan).dropna().reset_index().rename(columns={'value':'teams'})
team=pd.merge(team,cities,how='left',on='Metropolitan area').loc[:,['Metropolitan area','teams','Population']]
team=team.drop(index=28)
team = team.astype({'Metropolitan area': str, 'teams': str, 'Population': int})
team['teams']=team['teams'].str.replace('[\w.]*\ ','')
_df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\nba.csv")
_df = _df[_df['year'] == 2018]
_df=_df.rename(columns={'team':'teams'})
_df['teams'] = _df['teams'].str.replace(r'[\*]',"")
_df['teams'] = _df['teams'].str.replace(r'\(\d*\)',"")
_df['teams'] = _df['teams'].str.replace(r'[\xa0]',"") #remove non breaking spaces
_df=_df[['teams','W/L%']]
_df['teams']=_df['teams'].str.replace('[\w]* ','')
_df = _df.astype({'teams': str,'W/L%': float}) #always declare dtype after selecting cols
merge=pd.merge(team,_df,how='outer',on='teams')
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
population_by_region=merge['Population']
win_loss_by_region=merge['W/L%']
stats.pearsonr(population_by_region, win_loss_by_region)[0]

-0.17636350642182935

In [19]:

Big4='MLB'
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
team['Metropolitan area']= cities['Metropolitan area']
team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
team=team.drop(index=26)   
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
team['team']=team['team'].str.replace('\ Sox','Sox')
_df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\mlb.csv")
_df = _df[_df['year'] == 2018]
_df['team'] = _df['team'].str.replace(r'[\*]',"")
_df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
_df['team'] = _df['team'].str.replace(r'[\xa0]',"")
_df = _df[['team','W-L%']]
_df.rename(columns={"W-L%": "W/L%"},inplace=True)
_df['team']=_df['team'].str.replace('\ Sox','Sox')
_df['team'] = _df['team'].str.replace('[\w.]* ','')
_df = _df.astype({'team': str,'W/L%': float})
_df

merge=pd.merge(team,_df,'outer', on = 'team')
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

merge=merge.replace(np.nan,'0.451')
population_by_region=merge['Population']
win_loss_by_region=merge['W/L%']
stats.pearsonr(population_by_region, win_loss_by_region)[0]

0.15003737475409495

In [20]:

Big4='NFL'
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
team['Metropolitan area']=cities['Metropolitan area']
team=pd.melt(team, id_vars=['Metropolitan area']).drop(columns='variable').replace('',np.nan).replace('-','').dropna().reset_index().rename(columns={'value':'team'})
team=team.drop(index=29)
team=pd.merge(team,cities,how='left',on='Metropolitan area').iloc[:,1:4]
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
_df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\nfl.csv")
_df=_df[_df['year']==2018]
_df=_df[['team','W-L%']]
_df=_df.rename(columns={'W-L%':'W/L%'})

droplist=[]
for i in range(_df.shape[0]):
    row=_df.iloc[i]
    if row['team']==row['W/L%']:
        droplist.append(i)
_df=_df.drop(droplist)
_df['team'] = _df['team'].str.replace('[\w.]* ','')
_df['team'] = _df['team'].str.replace('+','')
_df['team'] = _df['team'].str.replace(r'[\xa0]',"")
_df['team'] = _df['team'].str.replace(r'\*',"")
_df=_df.astype({'team': str,'W/L%': float})
merge=pd.merge(_df,team,how='outer',on='team')
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
population_by_region =merge['Population'] # pass in metropolitan area population from cities
win_loss_by_region =merge['W/L%']
stats.pearsonr(population_by_region, win_loss_by_region)

(0.004282141436393022, 0.9824114740736553)

In [68]:

import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")



def nhl_df():
    Big4='NHL'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area'] #pass the metropolitan column
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on='Metropolitan area').iloc[:,1:4]
    team=team.drop(index=28)
     #drop col 28 bcos it is not needed and will affect our calculation
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int}) #declare the dtypes
    team['team']=team['team'].str.replace('[\w.]*\ ','') #replace first words in the list withis format
    _df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\nhl.csv")
    _df = _df[_df['year'] == 2018]
        #as specified, we are only usig rows from the year 2018
    _df['team'] = _df['team'].str.replace(r'\*',"")#replace * with whitespace
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")#remove non breaking spaces so it does not process internally as \xa0 and affect calc
    _df = _df[['team','W','L']] #pick out the useful cols
    dropList=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W'] and row['L']==row['W']:
                print(row['team'],'will be dropped!')
                dropList.append(i)
    _df=_df.drop(dropList)
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W': int, 'L': int}) #declare dtype to stay on course
    _df['W/L%'] = _df['W']/(_df['W']+_df['L']) #calculation of win loss ratio
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
    return merge[['W/L%']]

def nba_df():
    Big4='NBA'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team= pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace('',np.nan).replace('-',np.nan).dropna().reset_index().rename(columns={'value':'teams'})
    team=pd.merge(team,cities,how='left',on='Metropolitan area').loc[:,['Metropolitan area','teams','Population']]
    team=team.drop(index=28)
    team = team.astype({'Metropolitan area': str, 'teams': str, 'Population': int})
    team['teams']=team['teams'].str.replace('[\w.]*\ ','')
    _df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\nba.csv")
    _df = _df[_df['year'] == 2018]
    _df=_df.rename(columns={'team':'teams'})
    _df['teams'] = _df['teams'].str.replace(r'[\*]',"")
    _df['teams'] = _df['teams'].str.replace(r'\(\d*\)',"")
    _df['teams'] = _df['teams'].str.replace(r'[\xa0]',"") #remove non breaking spaces
    _df=_df[['teams','W/L%']]
    _df['teams']=_df['teams'].str.replace('[\w]* ','')
    _df = _df.astype({'teams': str,'W/L%': float}) #always declare dtype after selecting cols
    merge=pd.merge(team,_df,how='outer',on='teams')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
    return merge[['W/L%']]

def mlb_df():
    Big4='MLB'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']= cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team=team.drop(index=26)   
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('\ Sox','Sox')
    _df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\mlb.csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W-L%']]
    _df.rename(columns={"W-L%": "W/L%"},inplace=True)
    _df['team']=_df['team'].str.replace('\ Sox','Sox')
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W/L%': float})
    _df

    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

    merge=merge.replace(np.nan,'0.451')
    return merge[['W/L%']]

def nfl_df():
    Big4='NFL'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team=pd.melt(team, id_vars=['Metropolitan area']).drop(columns='variable').replace('',np.nan).replace('-','').dropna().reset_index().rename(columns={'value':'team'})
    team=team.drop(index=29)
    team=pd.merge(team,cities,how='left',on='Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    _df=pd.read_csv(r"C:\Users\HP USER\Desktop\jupyter files\assignments\assignment4\assests\nfl.csv")
    _df=_df[_df['year']==2018]
    _df=_df[['team','W-L%']]
    _df=_df.rename(columns={'W-L%':'W/L%'})

    droplist=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W/L%']:
            droplist.append(i)
    _df=_df.drop(droplist)
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df['team'] = _df['team'].str.replace('+','')
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df['team'] = _df['team'].str.replace(r'\*',"")
    _df=_df.astype({'team': str,'W/L%': float})
    merge=pd.merge(_df,team,how='outer',on='team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
    return merge[['W/L%']]
    

def create_df(sport):
    if sport =='NFL':
        return nfl_df()
    elif sport =='NBA':
        return nba_df()
    elif sport =='NHL':
        return nhl_df()
    elif sport =='MLB':
        return mlb_df()
    else:
        print("ERROR with intput!")


        # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
        # df.loc["NFL","NFL"] should return np.nan
sports = ['NFL', 'NBA', 'NHL', 'MLB']
p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
        
for i in sports:
    for j in sports:
        if i is not j :
            merge=pd.merge(create_df(i),create_df(j),'inner', on = ['Metropolitan area'])
            p_values=stats.ttest_rel(merge['W/L%_x'],merge['W/L%_y'])[0]
                      
p_values

Atlantic Division will be dropped!
Metropolitan Division will be dropped!
Central Division will be dropped!
Pacific Division will be dropped!
Atlantic Division will be dropped!
Metropolitan Division will be dropped!
Central Division will be dropped!
Pacific Division will be dropped!

TypeError: unsupported operand type(s) for -: 'float' and 'str'